@import "scope";
@import "global";
@import "nested";
@import "nestedproperties";
@import "reset";
@import "colors";
@import "mixin";
@import "mixinvariables";
@import "mixindefaultvalues";

$myFont: Helvetica, sans-serif;
$myColor: red;
$myFontSize: 18px;
$myWidth: 680px;

body {
    @include important-text;
    font-family: $myFont;
    font-size: $myFontSize;
    color: $myColor;
}

#container {
    width: $myWidth;
}